<div class="w-50 mx-auto ">
  <h4 class="text-center">お問い合わせ内容確認</h4>
    <p><%= @name%>様</p>
    <p>
    【お問合せ内容】
    </p>
    <p>
    <%= safe_join(@body.split("\n"),tag(:br)) %>
    </p>
    =======================================
    <p>
    上記の内容でお間違いのないようでしたら下記の送信を押してください。
    </p>

    <%= form_with url: public_contacts_confirm_path, method: :post do |f| %>
      <% unless current_user %>
        <%= f.email_field :email %><%= f.hidden_field :email, value: @email %>
      <% end %>
      <%= f.hidden_field :name, value: @name %>
      <%= f.hidden_field :body, value: @body %>
      <%= f.submit '送信' %>
    <% end %>
</div>