<div class="w-50 mx-auto">
  <h4>お問い合わせ</h4>
    <%= form_with url: public_contacts_path do |f| %>
      <% unless current_user %>
        <%= f.email_field :email %>
      <% end %>
        <%= f.text_field :name %>
        <%= f.text_area :body %>
        <%= f.submit '送信' %>
    <% end %>
</div>