<div class="container">
  <h4>新規作品投稿</h4>
  <%= form_with model: @production, url: admins_productions_path do |f| %>

    <h4>タイトル</h4>
    <%= f.text_field :title %>

    <h4>本文</h4>
    <%= f.text_area :introduction %>

    <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*" %>

    <%= f.submit '投稿' %>

  <% end %>
</div>

<hr>

<div class="container">
  <div class="row">
    <% @productions.each do |production| %>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag production.image, class: 'img-fluid' %>
          <div class="card-body">
            <h5 class="card-title">
              <%= production.title %>
            </h5>
            <div class="card-text">
              <%= simple_format(production.introduction) %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "削除する",  admins_production_path(production.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>
</div>