<div class="w-50 mx-auto ">
  <h4 class="text-center">送信内容確認</h4>
    <p>タイトル: <%= @subject %></p>
    <p>
    【送信内容】
    </p>
    <p>
    <%= safe_join(@body.split("\n"),tag(:br)) %>
    </p>
    =======================================
    <p>
    上記の内容でお間違いのないようでしたら下記の一斉送信を押してください。
    </p>

    <%= form_with url: admins_contacts_path, method: :post do |f| %>
      <%= f.hidden_field :subject, value: @subject %>
      <%= f.hidden_field :body, value: @body %>
      <%= f.submit '一斉送信' %>
    <% end %>
</div>