<!DOCTYPE html>
<html>
  <head>
    <title>FlowerArrangementSchool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to root_path do %>
          <div class="navbar-brand" href="#">LOGO</div>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to public_customer_path(:id) do %>
                <div class="nav-link">マイページ</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to home_calendar_path do %>
                <div class="nav-link">カレンダー</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  production_path do %>
                <div class="nav-link">作品紹介</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_public_contacts_path do %>
                <div class="nav-link">お問い合わせ</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  destroy_user_session_path, method: :delete do %>
                <div class="nav-link">ログアウト</div>
              <% end %>
            </li>

          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admins_root_path do %>
                <div class="nav-link">会員一覧</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_lessons_path do %>
                <div class="nav-link">レッスン一覧</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_courses_path do %>
                <div class="nav-link">コース一覧</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  admins_productions_path do %>
                <div class="nav-link">作品投稿</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_reservations_path do %>
                <div class="nav-link">予約一覧</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_admins_contacts_path do %>
                <div class="nav-link">一斉送信</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  destroy_admin_session_path, method: :delete do %>
                <div class="nav-link">ログアウト</div>
              <% end %>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to root_path do %>
                <div class="nav-link">TOP</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path do %>
                <div class="nav-link">代表挨拶</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to courses_path do %>
                <div class="nav-link">教室のご案内</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  production_path do %>
                <div class="nav-link">作品紹介</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path do %>
                <div class="nav-link">新規登録</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path do %>
                <div class="nav-link">ログイン</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_guest_sign_in_path, method: :post do %>
                <div class="nav-link">ゲストログイン（閲覧用）</div>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
