<div class="w-50 mx-auto">
<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
    <div class="form-group row" >
      <div class:'col-sm-2 col-form-label'>名前</div>
        <div class="col-sm-10">
          <%= f.label :first_name,"(姓)" %>
          <%= f.text_field :first_name, autofocus: true %>
          <%= f.label :last_name,"(名)"%>
          <%= f.text_field :last_name, autofocus: true %>
        </div>
    </div>
    <div class="form-group row" >
      <div class:'col-sm-2 col-form-label'>フリガナ</div>
        <div class="col-sm-10">
          <%= f.label :first_name_kana,"(セイ)" %>
          <%= f.text_field :first_name_kana, autofocus: true %>
          <%= f.label :last_name_kana,"(メイ)" %>
          <%= f.text_field :last_name_kana, autofocus: true %>
        </div>
    </div>
    <div class="form-group row">
      <%= f.label :email,"メールアドレス",class:'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true %>
        </div>
    </div>
    <div class="form-group row" >
      <%= f.label :postal_code,"郵便番号(ハイフンなし)",class:'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.text_field :postal_code, autofocus: true %>
        </div>
    </div>
    <div class="form-group row" >
      <%= f.label :address,"住所",class:'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.text_field :address, autofocus: true %>
        </div>
    </div>
    <div class="form-group row" >
      <%= f.label :telephone_number,"電話番号(ハイフンなし)",class:'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.text_field :telephone_number, autofocus: true %>
        </div>
    </div>
    <!--<div class="d-flex">-->
    <!--  <div class="form-group row d-flex block w-50" >-->
    <!--    <%= f.label :course_id,"来室レッスン",class:' col-form-label' %>-->
    <!--    <%= f.radio_button :course_id,1 %>-->
    <!--  </div>-->
    <!--  <div class="form-group row block w-50" >-->
    <!--    <%= f.label :course_id,"ZOOMレッスン",class:'col-form-label' %>-->
    <!--    <%= f.radio_button :course_id,2 %>-->
    <!--  </div>-->
    <!--</div>-->

    <div class="form-group">
      <%= f.label :course_id, "レッスン方法" %>
      <%= f.collection_select(:course_id, Lesson.all, :id, :name, {}, class: 'form-control') %>
    </div>
    <!--<div class="d-flex">-->
    <!--  <div class="form-group row w-100" >-->
    <!--    <%= f.label :frequency,"月3回コース",class:' col-form-label' %>-->
    <!--    <%= f.radio_button :frequency,3 %>-->
    <!--  </div>-->
    <!--  <div class="form-group row w-100" >-->
    <!--    <%= f.label :frequency,"月2回コース",class:' col-form-label' %>-->
    <!--    <%= f.radio_button :frequency,2 %>-->
    <!--  </div>-->
    <!--  <div class="form-group row w-100" >-->
    <!--    <%= f.label :frequency,"月1回コース",class:' col-form-label' %>-->
    <!--    <%= f.radio_button :frequency,1 %>-->
    <!--  </div>-->
    <!--</div>-->

    <div class="form-group">
       <%= f.label :frequency, "レッスン回数" %>
     <%= f.collection_select(:frequency, Course.all, :id, :name, {}, class: 'form-control') %>
    </div>

    <div class="form-group row" >
      <%= f.label :password,"パスワード(6文字以上)",class:'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
    </div>
    <div class="form-group row" >
      <%= f.label :password_confirmation,"パスワード(確認用)",class:'col-sm-2 col-form-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
    </div>
    <div class="form-group row" >
      <%= f.submit "新規登録" %>
    </div>
    <%= f.hidden_field :is_deleted, :value => false %>
<% end %>
<%= render "users/shared/links" %>
</div>